$color-black: #000000;
$color-white: #f9f9f9;
$color-red-600: #ff365b;
$color-red-700: #e30b13;
$color-red-800: #b5080f;
$color-yellow-700: #f5c521;
$color-gray-300: #d9dae8;
$color-gray-500: #999aa5;
$color-gray-600: #66676e;
$color-gray-700: #39393f;
$color-gray-800: #242529;
$color-gray-900: #191b1f;
$color-gray-950: #101215;

$color-text: $color-white;
$color-text: $color-white;
$color-primary: $color-red-700;
$color-primary-hover: $color-red-800;
$color-error: $color-red-600;
$background-color: $color-gray-900;
