.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  min-width: 20%;
  max-width: 300px;
  border-right: 1px solid $color-gray-800;
  padding: $layout-padding 0;
  z-index: 10;
  overflow-y: auto;
  scrollbar-width: none;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .subscribe {
    text-align: center;
    margin: 0 $layout-padding;
    display: block;
  }
}
