.icon-button {
  border: none;
  background: none;
  color: $color-white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-gray-700;
  padding: 5px;
  border-radius: 10px;
  transition: background-color 150ms;

  &:hover {
    background: $color-gray-650;
  }
}
