.wrapper {
  position: fixed;
  padding: 15px;
  background: $color-gray-800;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  width: 100%;
  max-width: 350px;
  border-radius: 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .message {
    margin: 0;
    padding: 0;
  }

  .footer {
    margin-top: 5px;
  }

  .link {
    color: #5177ff;
    cursor: pointer;
    text-decoration: none;
  }
}
