.item {
  list-style: none;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 2px solid $color-gray-800;
  }

  .link {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 10px;
    padding: 25px 0;
    text-decoration: none;
    font-size: 18px;
    color: $color-gray-600;

    &:hover {
      .text {
        color: $color-text;
      }
    }
  }

  .arrow {
    color: $color-gray-600;
  }

  .icon,
  .text {
    transition: color 150ms ease-in-out;
  }

  &.active {
    .icon {
      color: $color-primary;
    }

    .text {
      color: $color-text;
    }

    .arrow {
      color: $color-text;
    }
  }
}
