.wrapper {
  .inner {
    display: flex;
    align-items: center;
    border: 1px solid $color-gray-700;
    background: transparent;
    padding: 0 15px;
    border-radius: 24px;
    transition: border-color 150ms;

    &:focus-within {
      border-color: $color-primary;
    }
  }

  .input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: $color-gray-500;
    padding: 15px 0;

    &::placeholder {
      color: $color-gray-500;
      font-size: 14px;
    }
  }
}
