.wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);

  .loader {
    display: inline-block;
    box-sizing: border-box;
    width: 58px;
    height: 58px;
    border: 8px solid $color-primary;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
